@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: aliceblue;
}

header {
    background-color: #44F0CD;
    color: #157461;
}

.nav-link {
    color: #157461;
}

.nav-link:hover {
    transition-duration: 0.1s;
    background-color: #49d6ba;
    color: #157461;
}

.box-balance {
    border-radius: 5px;
}

.colour-btn {
    background-color: #44F0CD;
    color: #157461;
    border: 1px solid transparent;
}

.colour-btn:hover {
    transition-duration: 0.1s;
    background-color: #49d6ba;
    border: #49d6ba;
    color: #157461;
}

.colour-btn:active {
    transition-duration: 0.1s;
    background-color: #49d6ba;
    border: #49d6ba;
    color: #157461;
}

.colour-btn:focus {
    transition-duration: 0.1s;
    background-color: #49d6ba;
    border: #49d6ba;
    color: #157461;

}

.color-a {
    background-color: #44F0CD;
    color: white;
    border: 1px solid transparent;
    border-radius: 10%;
}

.color-a:active {
    transition-duration: 0.1s;
    background-color: #49d6ba;
    border: #49d6ba;
    color: #157461;
}

.shadow {
    box-shadow: -16px 13px 24px -9px rgba(150, 149, 149, 0.75);
    -webkit-box-shadow: -16px 13px 24px -9px rgba(150, 149, 149, 0.75);
    -moz-box-shadow: -16px 13px 24px -9px rgba(150, 149, 149, 0.75);
    background-color: white;
}

.bordeColor {
    border: 1px solid #8cbbb1;
}

.bordeColor:hover {
    transition-duration: 0.1s;
    border: 1px solid #5a837a;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #49d6ba;
    padding: 60px 10px 40px;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.nav-footer-menu {
    display: flex;
    justify-content: flex-end;
    height: 25px;
    align-items: center;
    margin-right: 10px;
}

.nav-iconos {
    display: flex;
    justify-content: center;
}

.iconos-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15%;
    padding: 10%;
    border-radius: 100%;
    color: #5a837a;
    background-color: white;
}

.relleno-iconos {
    color: #5a837a;
}

.hecho-con-amor {
    text-align: center;
    color: white;
    margin-left: 50px;
}